body {
    color: black;
}

a {
    color: #f09f00
}

a:visited {
    color: #da6900
}

h3, h4,
h3.archive__subtitle {
    clear: both;
    color: #00a8db;
    font-family: "Montserrat";
    /*font-size: 1.25em;*/
}
/*
original h3: #00a8db
masthead color: #475bc9

*/
h1,
h2 {
    color: #103966;
    font-family: "Montserrat";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Martel";
}

#main {
    position: relative;
}