.masthead {
    background-color: #0a223d;
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #ddeeed;
    &:hover {
        color: white;
      }
}

#site-nav a,
#site-nav a:visited {
    font-family: "Montserrat";
}